header {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

h1 {
    margin: 0;
    font-size: 32px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav li a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
}

nav li a:hover {
    color: #fff;
}
